{% extends 'blog/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="col-md-12">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">{{object.title}}</h3>
              <div class="mb-1 text-body-secondary">{{object.create_data}}</div>
                <div class="col-auto d-none d-lg-block">
                    <img src="{{ object.preview | media_filter }}" style="width: 400px; height: 400px;">
                </div>
              <p class="card-text mb-auto">{{object.content}}</p>
            </div>
          </div>
        <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'blog:update_blog' object.pk %}">Изменить данные</a>

        </div>
{% endblock %}