{% extends 'catalog/base.html' %}
{% load my_tags% }
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <p class="card-text">Вы действительно хотите удалить: <strong>{{object.name}}?</strong></p>
                    <div class="card-body">
                        {% csrf_token %}
                    </div>
                    <button type="submit" class="btn btn-dark">Удалить</button>
                    <button class="btn btn-secondary btn-sm" href="{% url 'catalog:index' %}">Отменить удаление</button>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}